.popup__skill {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  outline: none;
  border-bottom:1px grey solid;
}