.elements {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .elements {
    width: 584px;
    margin: 0 auto;
    padding-top: 46px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 880px;
  }
}