.profile__info {
  position: relative;
  width: 280px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .profile__info {	
    align-items: flex-start;
    margin-right: 125px;
    width: 415px;
    height: 74px;
  }
}